.textInputWrap {
    position: relative;
}

.input {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    outline: 0;
    padding: 10px 10px;
    resize: vertical;
    transition: .2s;
    color: var(--TFontColor);
    border-color: #e8e8e8 !important;
}

.input:hover {
    border-color: var(--TPrimary) !important;
}

.textLabel {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 0;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    transition: .3s;
    background-color: #fff;
    padding: 0 5px;
    font-size: 12px;
    color: #666;
}

.labelFocused {
    top: -8px;
    left: 10px;
    font-size: 10px;
    z-index: 2;
    color: var(--TPrimary)
}

.labelError {
    color: var(--TError);
}

.focusedInput {
    border-color: var(--TPrimary);
}

.errorInput {
    border-color: var(--TError) !important;
}