.label {
    margin-right: 20px
}

.inputWrap {
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #ddd;
    /* background-color: #f7f7f7; */
    height: 45px;
    transition: .3s;
    outline: 0;
}

.borderNone {
    border: none !important;
}

.input {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    background: transparent;
    color: gray !important;
    font-size: 12px !important;
}

.input::before,
.input::after {
    content: none !important;
}

.inputLabel {
    position: absolute;
    top: calc(50% - 8px);
    left: 10px;
    z-index: 0;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    transition: .3s;
    background-color: #fff;
    /* background-color: #f7f7f7; */
    padding: 0 5px;
    font-size: 12px;
    text-transform: capitalize;
    color: #666;
}

.inputLabel.labelFocused {
    top: -8px;
    left: 10px;
    font-size: 10px;
    color: var(--TPrimary);
    z-index: 2;
}

.inputLabel.labelFocused::after {
    transition: .3s;
    content: ' :';
}

.labelError {
    color: var(--TError);
}

.focusedInput {
    /* border-width: 2px; */
    border-color: var(--TPrimary);
}

.errorInput {
    border-color: var(--TError) !important;
}

.inputBorder {
    border-color: var(--TPrimary) !important;
}


/* .input:focus {
    border-color: blue !important;
    box-shadow: 1px 1px 3px blue;
}

.errorInput {
    border-color: red;
    box-shadow: 1px 1px 3px red;
} */

.MuiFormLabel-root {
    background-color: #fff;
    padding: 0px 5px 0 0 !important;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input[type=number] {
    -moz-appearance: textfield;
}